﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using WebGUI.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts) {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="lead">SVG</div>
    <div class="col bg-light">
        @foreach (var forecast in forecasts) {
            if (forecast.TemperatureC > 0) {
                <svg style="width: 20%">
                    <rect x="90" y="@(75 - forecast.TemperatureC)" rx=".5" ry=".5" width="50" height="@forecast.TemperatureC" fill="red"/>
                </svg>
            }
            else {
                <svg style="width: 20%">
                    <rect x="90" y="75" rx=".5" ry=".5" width="50" height="@(forecast.TemperatureC - 2 * forecast.TemperatureC)" fill="#0a53be"/>
                </svg>
            }
        }
    </div>

    <hr/>
    <div class="lead">CANVAS</div>
    <div class="bg-light justify-content-center">
        <BECanvas Width="1400" Height="200" @ref="_canvasReference"></BECanvas>
    </div>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

    private Canvas2DContext _context;
    private BECanvasComponent _canvasReference;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        int turn = 250;
        foreach (var forecast in forecasts) {
            if (firstRender) {
                _context = await _canvasReference.CreateCanvas2DAsync();
            }

            if (_context == null) return;

            await _context.BeginPathAsync();
            if (forecast.TemperatureC > 0) {
                await _context.SetFillStyleAsync("red");
            }
            else {
                await _context.SetFillStyleAsync("blue");
            }
            await _context.RectAsync(turn, 100, 50, forecast.TemperatureC * 4);
            await _context.FillAsync();
            await _context.ClosePathAsync();
            turn += 230;
        }
    }

}