﻿@page "/deleteproduct/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model.Entity

<PageTitle>Delete Product</PageTitle>
<h3>Delete Product</h3>

@if (product == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {
    <input class="btn btn-primary mt-4" type="submit" @onclick="@Deleteproduct"/>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Product product;

    protected override async Task OnInitializedAsync() {
        product = await Http.GetFromJsonAsync<Product>($"https://localhost:7072/api/Products/read/{Id}");
    }

    private async Task Deleteproduct() {
        await Http.PutAsJsonAsync($"https://localhost:7072/api/Products/delete/{Id}", product);
        NavManager.NavigateTo("fetchdata");
    }
}