﻿@page "/dish"
@inject HttpClient Http
@using Model.Entity

<PageTitle>Dishes</PageTitle>

<h1>Dishes</h1>

<p>This component fetches data from the server.</p>

@if (_dishes == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {
    <table class="table w-25">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var dish in _dishes) {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Id</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Dish[]? _dishes;

    protected override async Task OnInitializedAsync() {
        _dishes = await Http.GetFromJsonAsync<Dish[]>("https://localhost:7072/api/Dish/readAll");
    }
}