﻿@page "/editproducts/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model.Entity
@using Microsoft.AspNetCore.Components
<PageTitle>Edit Product</PageTitle>
<h3>EditProducts</h3>

@if (product == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header lead">Product Editor</div>
                    <div class="card-body">
                        <EditForm Model="product">
                            <div class="row">
                                <div class="form-group col-lg-5">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" @bind="product.Name"/>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label class="form-label">Original Prize</label>
                                    <input class="form-control" @bind="product.Price"/>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label class="form-label">Product Type</label>
                                    <select class="form-control" @bind="product.Category">
                                        <option value="Burger">Burger</option>
                                        <option value="Kebap">Kebap</option>
                                        <option value="Drink">Getränk</option>
                                        <option value="Alcoholic">Alkoholisches Getränk</option>
                                    </select>
                                </div>
                            </div>
                            <input class="btn btn-primary mt-4" type="submit" @onclick="@UpdateProduct"/>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Product product;

    protected override async Task OnInitializedAsync() {
        product = await Http.GetFromJsonAsync<Product>($"https://localhost:7072/api/Products/read/{Id}");
    }

    private async Task UpdateProduct() {
        await Http.PutAsJsonAsync($"https://localhost:7072/api/Products/update/{Id}", product);
        NavManager.NavigateTo("fetchdata");
    }

}