﻿@page "/fetchdata"
@inject HttpClient Http
@using Model.Entity

<PageTitle>Products Basetable</PageTitle>

<h1>Products Basetable</h1>

<p>This component fetches data from the server.</p>

@if (_products == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {
    <table class="table w-50">
        <thead>
        <tr>
            <th>Action</th>
            <th>ID</th>
            <th>Name</th>
            <th>Original Price</th>
            <th>Product Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in _products) {
            <tr>
                <td>
                    <a href="/editproducts/@product.Id.ToString()"><i class="oi oi-pencil"></i></a>
                    <a href="/deleteproduct/@product.Id.ToString()"><i class="oi oi-trash"></i></a>
                </td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private Product[]? _products;

    protected override async Task OnInitializedAsync() {
        _products = await Http.GetFromJsonAsync<Product[]>("https://localhost:7072/api/Products/readAll");
    }

}