﻿@page "/"
@using WebGUI.Entities
@using Model.Entities
@using Microsoft.AspNetCore.Components
@using Domain.Repositories.Interfaces
@inject IUserRepository Repository

<style>
    .box {
        width: 200px;
        height: 200px;
        border-radius: 0.5rem;
        background-color: white;
    }
    .arcade {
        font-family: "Arial Black";
        border: 5px solid black;
        background-color: #e1e1e1;
    }
    .middle {
        font-size: xxx-large;
    }
    .font {
        font-family: "Arial Black";
    }
    /* Tables */
    * {
      box-sizing: border-box;
    }
    
    .reihe {
      margin-left:-5px;
      margin-right:-5px;
    }
      
    .spalte {
      float: left;
      width: 25%;
      padding: 15px;
    }
    
    /* Clearfix (clear floats) */
    .reihe::after {
      content: "";
      clear: both;
      display: table;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 6px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
</style>
<div class="container p-3">
@if (!IsStarted) {
    <div class="d-flex flex-wrap align-items-center">
        <div class="col d-flex justify-content-center align-items-center">
            <button class="btn btn-outline-success middle" style="margin-top: 30%;" @onclick="StartGame">Start Game</button>
        </div>
    </div>
}
@if (IsStarted && !IsFinished) {
    <div class="d-flex flex-wrap align-items-center">
        @foreach (var card in Cards) {
            <div class="m-5 p-3 shadow box" @onclick="() => Select(card)">
                @if (SelectedCards.Contains(card) || card.IsOpen) {
                    <img src="@card.Content" alt="..." class="m-auto" height="168px" width="168px" draggable="false"/>
                }
            </div>
        }
    </div>
}
@if (IsFinished) {
    <div class="row justify-content-center align-items-center">
        <div class="col-3">
            <div class="col d-flex justify-content-center align-items-center">
                <h1>Good job!</h1>
                <br/>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="btn btn-secondary" style="font-size: xx-large" @onclick="StartGame">Play again?</button>
            </div>
            @if (!IsSubmitted) {
                <EditForm class="form mt-4" Model="User" OnSubmit="async () => await HandleRegisterAsync()">
                    <DataAnnotationsValidator/>
                    <div class="form-row">
                        <div class="form-group col d-flex justify-content-center align-items-center">
                            <label for="registerUsername" class="lead form-label m-0">Username</label>
                            <ValidationMessage For="() => User.Name"/>
                            <InputText id="registerUsername" class="form-text form-control form-control-sm ms-2" @bind-Value="User.Name"/>
                            <span class="visually-hidden">@(User.Score = Score)</span>
                            <span class="visually-hidden">@(User.Date = DateTime.Today)</span>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </div>
                    </div>
                </EditForm>
            }
        </div>
    </div>
    @if (UserList is not null) {
        <div class="reihe">
            <div class="spalte"></div>
            <div class="spalte">
                <h5 class="font">All time best</h5>
                <table class="arcade m-auto mt-3 p-5">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in UserList) {
                        Rank++;
                        switch (Rank) {
                            case 1:
                                if (user.Name == User.Name) {
                                    <tr style="background-color: #FFD700;outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr style="background-color: #FFD700;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }

                                break;
                            case 2:
                                if (user.Name == User.Name) {
                                    <tr style="background-color: #C0C0C0;outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr style="background-color: #C0C0C0;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                break;
                            case 3:
                                if (user.Name == User.Name) {
                                    <tr style="background-color: #CD7F32;outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr style="background-color: #CD7F32;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                break;
                            default:
                                if (user.Name == User.Name) {
                                    <tr style="outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr>
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                break;
                        }
                    }
                    <span class="visually-hidden">@(Rank = 0)</span>
                    </tbody>
                </table>
            </div>
            <div class="spalte">
                <h5 class="font">Todays highscore</h5>
                <table class="arcade m-auto mt-3 p-5">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in TodaysUserList) {
                        Rank++;
                        switch (Rank) {
                            case 1:
                                if (user.Name == User.Name) {
                                    <tr style="background-color: #FFD700;outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr style="background-color: #FFD700;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }

                                break;
                            case 2:
                                if (user.Name == User.Name) {
                                    <tr style="background-color: #C0C0C0;outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr style="background-color: #C0C0C0;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                break;
                            case 3:
                                if (user.Name == User.Name) {
                                    <tr style="background-color: #CD7F32;outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr style="background-color: #CD7F32;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                break;
                            default:
                                if (user.Name == User.Name) {
                                    <tr style="outline: 5px solid #0a53be;outline-offset:-4px;">
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                else {
                                    <tr>
                                        <td># @Rank</td>
                                        <td>@user.Name</td>
                                        <td class="float-end">@user.Score</td>
                                    </tr>
                                }
                                break;
                        }
                    }
                    <span class="visually-hidden">@(Rank = 0)</span>
                    </tbody>
                </table>
            </div>
        </div>
    }
}
</div>

@code {

    public List<MemoryCard> Cards { get; set; }

    public List<MemoryCard> SelectedCards { get; } = new();

    private static readonly Random Rng = new();

    public User User { get; set; } = new();

    public List<User> UserList { get; set; }

    public List<User> TodaysUserList { get; set; }

    public bool IsStarted { get; set; }

    public bool IsFinished { get; set; }

    public int Score { get; set; }

    public int Rank { get; set; }

    public bool IsSubmitted { get; set; }

    public async void Select(MemoryCard card) {
        SelectedCards.Add(card);
        if (SelectedCards.Count == 2) {
            if (CheckCards()) {
                SelectedCards.ForEach(c => c.IsOpen = true);
                Score += 2;
            }
            else {
                Score -= 1;
            }
            await Task.Delay(500);
            StateHasChanged();
            SelectedCards.Clear();
        }
        StateHasChanged();
    }

    public void ShuffleCards() {
        Cards = new List<MemoryCard> {
            new("images/it-logo.png", 1),
            new("images/it-logo.png", 2),
            new("images/bau-logo.png", 1),
            new("images/bau-logo.png", 2),
            new("images/mi-logo.png", 1),
            new("images/mi-logo.png", 2),
            new("images/prozessor.png", 1),
            new("images/prozessor.png", 2),
            new("images/htl-krems.jpg", 1),
            new("images/htl-krems.jpg", 2),
            new("images/laptop.png", 1),
            new("images/laptop.png", 2)
        };
        Cards = Cards.OrderBy(c => Rng.Next()).ToList();
    }

    public bool CheckCards() {
        foreach (var card in Cards) {
            if (card.IsOpen) {
                IsFinished = true;
                StateHasChanged();
            }
            else {
                IsFinished = false;
                break;
            }
        }
        return SelectedCards[0].Content == SelectedCards[1].Content && SelectedCards[0].Number != SelectedCards[1].Number;
    }

    private async Task HandleRegisterAsync() {
        if ((await Repository.ReadAsync(u => u.Name == User.Name)).Any()) {
            await Repository.UpdateAsync(User);
        }
        else {
            await Repository.CreateAsync(User);
        }
        IsSubmitted = true;
        UserList = await Repository.ReadAllSortedAsync();
        TodaysUserList = await Repository.ReadTodayAsync();
    }

    public void StartGame() {
        IsStarted = true;
        IsFinished = false;
        IsSubmitted = false;
        Score = 0;
        ShuffleCards();
    }

}