﻿@page "/"

<PageTitle>Pacman</PageTitle>

<h1>Pacman</h1>
<p>Pacman location</p>
@if (Pacman is null) {
    <p>loading...</p>
}
else {
                @*<table @ref="TableRef" tabindex="0" @onkeydown="HandleKeyDown">
                    <thead>
                    <tr>
                        <th>Pressed Key</th>
                        <th>Classes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@PressedKey</td>
                        <td>@ClassToShow</td>
                    </tr>
                    </tbody>
                </table>*@
    <table @ref="TableRef" tabindex="0" @onkeydown="HandleKeyDown">
        <thead>
        <tr>
            <th>X: @Pacman.X</th>
        </tr>
        <tr>
            <th>Y: @Pacman.Y</th>
        </tr>
        </thead>
    </table>
            @*<div class="col-1" @onkeydown="HandleKeyDown">
                <svg class="@ClassToShow" viewBox="0 0 100 100">
                    <circle cx="50%" cy="50%" r="25%"/>
                </svg>
            </div>
    <svg @ref="TableRef" height="500" width="1200" style="background-color: #cccccc">
        <svg x="@Pacman.X" y="@Pacman.Y" height="50" width="50" viewBox="0 0 100 100" class="@ClassToShow" @ref="TableRef" @onkeydown="HandleKeyDown">
            <circle cx="50%" cy="50%" r="25%"/>
        </svg>
    </svg>*@
    
    <div style="background-color:lightblue;width:800px;height:300px">
        <svg style="top:@(Pacman.Y);left:@(Pacman.X)" x="@Pacman.X" y="@Pacman.Y" height="50" width="50" 
             class="@ClassToShow" viewBox="0 0 100 100" @ref="PacmanRef">
            <circle cx="50%" cy="50%" r="25%" focusable="true"/>
        </svg>
    </div>
}

@code {

    public ElementReference TableRef;
    public ElementReference PacmanRef;
    public string? ClassToShow = "pacman";
    public string? PressedKey;
    public Pacman Pacman = new();

    private void HandleKeyDown(KeyboardEventArgs key) {
        PressedKey = key.Key;
        switch (PressedKey) {
            case "ArrowRight":
                Pacman.Move(EDirection.RIGHT);
                ClassToShow = "pacman right";
                break;
            case "ArrowLeft":
                Pacman.Move(EDirection.LEFT);
                ClassToShow = "pacman left";
                break;
            case "ArrowUp":
                Pacman.Move(EDirection.UP);
                ClassToShow = "pacman up";
                break;
            case "ArrowDown":
                Pacman.Move(EDirection.DOWN);
                ClassToShow = "pacman down";
                break;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await TableRef.FocusAsync();
            await PacmanRef.FocusAsync();
        }
    }

}