﻿@page "/createstudent"
@using Microsoft.AspNetCore.Components
@using DbConn
@using WebGUI.Data
@inject NavigationManager _navManager
<h3>Create Student</h3>
<div class="container">
    <div class="row">
        <div class="col-5 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header lead">Create Student</div>
                <div class="card-body">
                    <EditForm Model="Student" OnValidSubmit="async () => await CreateStudentAsync()">
                        <DataAnnotationsValidator/>
                        <div class="row">
                            <label>First Name</label>
                            <InputText class="form-control" @bind-Value="Student.FirstName"/>
                        </div>
                        <div class="row">
                            <label>Last Name</label>
                            <InputText class="form-control" @bind-Value="Student.LastName"/>
                        </div>
                        <div class="row mt-3">
                            <label>College</label>
                            <InputNumber class="form-control" @bind-Value="Student.SchoolId">
                            </InputNumber>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-outline-success">Create</button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

    public Student Student { get; set; } = new();

    protected async Task CreateStudentAsync() {
        await DbManagement.GetInstance().Management.CreateAsync(Student);
        _navManager.NavigateTo("fetchdata");
    }
}