﻿@page "/editstudent/{StudentId:int}"
@using DbConn
@using WebGUI.Data
@inject NavigationManager _navManager
<h3>Edit Student</h3>
<div class="container">
    <div class="row">
        <div class="col-5 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header lead">Edit Student</div>
                <div class="card-body">
                    <EditForm Model="Student">
                        <DataAnnotationsValidator/>
                        <div class="row">
                            <label>First Name</label>
                            <InputText class="form-control" @bind-Value="Student.FirstName"/>
                        </div>
                        <div class="row">
                            <label>Last Name</label>
                            <InputText class="form-control" @bind-Value="Student.LastName"/>
                        </div>
                        <div class="row mt-3">
                            <label>College</label>
                            <InputNumber class="form-control" @bind-Value="Student.SchoolId">
                            </InputNumber>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-outline-success" onclick="@UpdateStudentAsync">Update</button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int StudentId { get; set; }

    public Student Student { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        Student = await DbManagement.GetInstance().Management.ReadAsync(StudentId);
    }

    protected async Task UpdateStudentAsync() {
        await DbManagement.GetInstance().Management.UpdateAsync(Student);
        _navManager.NavigateTo("fetchdata");
    }

}