﻿@page "/fetchdata"

<PageTitle>Students</PageTitle>

@using DbConn
@using WebGUI.Data

<h1>Students</h1>

@if (studentsList == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {
    <p>Add a missing student here: <a href="createstudent"><i class="bi bi-plus-circle text-decoration-none text-success"></i></a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Action</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>School ID</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in studentsList) {
            <tr>
                <td>
                    <a href="editstudent/@student.Id"><i class="bi bi-pencil text-decoration-none text-black mx-1"></i></a>
                    <a href="deletestudent/@student.Id"><i class="bi bi-trash text-decoration-none text-danger mx-1"></i></a>
                </td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.SchoolId</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Student> studentsList;

    protected override async Task OnInitializedAsync() {
        studentsList = await DbManagement.GetInstance().Management.ReadAllAsync();
    }
}