﻿@page "/"
@using GameLibrary
<style>
    .tick-box{
      border: solid black 1px;
      font-size: 2vw;
      background: #6AB187;
      text-align: center;
      color: lavender;
    }
    .tick-box:hover{
      background: #20948B;
    }
</style>

<h3>TicTacToe</h3>
<hr/>

<p class="text-warning">Next Player: @ttl.NextPlayer</p>
<p class="text-success">Winner: @ttl.GetWinner()</p>

<div class="container-fluid">
    <div class="col-12 col-sm-6">
        <div class="container-fluid tic-container">
            <div class="row tic-row">
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(1)">@ttl.Spielfeld[0, 0]</div>
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(2)">@ttl.Spielfeld[0, 1]</div>
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(3)">@ttl.Spielfeld[0, 2]</div>
            </div>
            <div class="row tic-row">
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(4)">@ttl.Spielfeld[1, 0]</div>
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(5)">@ttl.Spielfeld[1, 1]</div>
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(6)">@ttl.Spielfeld[1, 2]</div>
            </div>
            <div class="row tic-row">
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(7)">@ttl.Spielfeld[2, 0]</div>
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(8)">@ttl.Spielfeld[2, 1]</div>
                <div class="col-1 tick-box" @onclick="() => ttl.SetElement(9)">@ttl.Spielfeld[2, 2]</div>
            </div>
        </div>
    </div>
</div>

@code {
    TicTacToeLogic ttl = new TicTacToeLogic('X', 'O');
    string MyInput;
}